@import "../../vars.scss";

.TextBox {
  padding: 7px;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
  background: white;
  color: $gray-1;
  font-size: 12px;
  width: 100%;
  height: 100%;
  line-height: 15px;
  margin-bottom: 5px;
  @media(min-width: 768px) {
    padding: 11px;
    pre {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .update-options {
    position: absolute;
    width: 45px;
    height: 44px;
    i {
      color: $purple;
      cursor: pointer;
    }
    @media(min-width: 768px) {
      width: 60px;
      height: 44px;
    }
  }
}
