@import "../../vars.scss";

.Modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: $gray-5;
  .modal-nav {
    background: white;
    height: 50px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
    @media(min-width: 768px) {
      height: 70px;
    }
    .modal-nav-wrapper {
      position: relative;
      height: 100%;
      max-width: 768px;
      margin: auto;
      span {
        color: $purple;
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
        @media(min-width: 768px) {
          font-size: 28px;
          padding: 28px;
        }
      }
    }
  }
  .modal-form {
    padding: 15px;
    .form {
      text-align: right;
      label {
        input[type="checkbox"] {
          width: 20px;
        }
      }
      textarea, button, input {
        @media(min-width: 768px) {
          font-size: 16px;
        }
      }
      .inside {
        margin-left: 2px;
        margin-right: 2px;
      }
      .left-outside {
        margin-right: 2px;
      }
      .right-outside {
        margin-left: 2px;
      }
      .add-button, .minus-button {
        width: 40px;
      }
      .space {
        height: 10px;
      }
      .search-ref {
        margin-bottom: 15px;
        .selects {
          width: 100%;
          select {
            margin: 2px;
            @media(min-width: 768px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .error-message {
    text-align: center;
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
