@import "../../vars.scss";

.Verse {
  padding: 2px;
  .border-wrapper {
    border-bottom: solid 1px $border;
    min-height: 80px;
    margin-bottom: 15px;
    position: relative;
    @media(min-width: 768px) {
      min-height: 110px;
    }
    .content-wrapper {
      padding-bottom: 12px;
      @media(min-width: 768px) {
        padding-bottom: 20px;
      }
    }
    i {
      position: absolute;
      bottom: -23px;
      font-size: 45px;
      color: $purple;
      @media(min-width: 768px) {
        bottom: -34px;
        font-size: 68px;
        left: -4px;
      }
    }
  }
  .item-wrapper {
    min-height: 80px;
    @media(min-width: 768px) {
      min-height: 100px;
    }
    .TextBox.left {
      margin-right: 53px;
      @media(min-width: 768px) {
        margin-right: 80px;
      }
    }
    .TextBox.right {
      margin-left: 53px;
      @media(min-width: 768px) {
        margin-left: 80px;
      }
    }
  }
}
